In [1]:
clientes=[{'nombre':"Maria Magdalena Casas", 'dni':36354348, 'mail':"maguicasas33@gmail.com"},
            {'nombre':"Maria Angelica Casas", 'dni':35483574, 'mail':"aquicasas@hotmail.com"},
            {'nombre':"Solange Wirth", 'dni':25638475, 'mail':"solyw@gmail.com"},
            {'nombre':"Ana Maria Villegas", 'dni':16506384, 'mail':"a.villegas@yahoo.com.ar"},
            {'nombre': "Jorge Zinny", 'dni':10741982, 'mail':"zinny.j@gmail.com"},
            {'nombre':"Carlos Carranza", 'dni':36211983, 'mail':"cacho92@gmail.com"}]

In [2]:
clientes[2]['nombre']

'Solange Wirth'

In [3]:
for cliente in clientes:
    print("su nombre es:" + cliente['nombre']," y su dni es" " "+ str(cliente['dni']))

su nombre es:Maria Magdalena Casas  y su dni es 36354348
su nombre es:Maria Angelica Casas  y su dni es 35483574
su nombre es:Solange Wirth  y su dni es 25638475
su nombre es:Ana Maria Villegas  y su dni es 16506384
su nombre es:Jorge Zinny  y su dni es 10741982
su nombre es:Carlos Carranza  y su dni es 36211983

In [50]:
for cliente in clientes:
    print("su nombre es:" + cliente['nombre']," y su mail es"" "+ cliente['mail'])

su nombre es:Maria Magdalena Casas  y su mail es maguicasas33@gmail.com
su nombre es:Maria Angelica Casas  y su mail es aquicasas@hotmail.com
su nombre es:Solange Wirth  y su mail es solyw@gmail.com
su nombre es:Ana Maria Villegas  y su mail es a.villegas@yahoo.com.ar
su nombre es:Jorge Zinny  y su mail es zinny.j@gmail.com
su nombre es:Carlos Carranza  y su mail es cacho92@gmail.com

### Consigna 1

In [25]:
premios= {
    1 :"Viaje a Europa all inclusive por 1 mes",
    2: "Orden de compra por $100000",
    3: "Una semana en un hotel en Bariloche",
    4: "Un celular ",
    5: "Orden de compra por 10000 ",
    6: "una bicicleta"
}

In [27]:
premios[5]

'Orden de compra por 10000 '

In [5]:
for clave in premios:
    print(premios[clave])

Viaje a Europa all inclusive por 1 mes
Orden de compra por $100000
Una semana en un hotel en Bariloche
Un celular
Orden de compra por 10000
una bicicleta

In [43]:
import random
numero_premio = random.randint(1, 6)
print("Numero del premio: ", numero_premio)

Numero del premio:  3

In [38]:
for premio in premios:
    if premio == numero_premio:
        print("Felicitaiones " + clientes[0]['nombre'])
              
        print("Tu premio es: "+ premios[numero_premio])
              
        break

Felicitaiones Maria Magdalena Casas
Tu premio es: Una semana en un hotel en Bariloche

In [44]:
numero_premio = random.randint(1, 6)
print("Numero del premio: ", numero_premio)

Numero del premio:  2

In [45]:
for premio in premios:
    
    if premio != numero_premio:
        pass
    
    else:
        print("Felicitaiones " + clientes[2]['nombre'])
        print("Tu premio es: " + premios[numero_premio])

Felicitaiones Solange Wirth
Tu premio es: Orden de compra por $100000

# Consigna parte 2

In [1]:
import pandas as pd

In [59]:
clientes= {'Nombre':["Maria Magdalena", "Maria Angelica", "Solange","Ana Maria","Jorge","Carlos","Luisa", "Guillermo", "Santiago ", "Rosario", "Lucia", "Lucrecia", "Francisco ", "Marcia ", "Luis","Karla"],
          'Apellido':["Casas","Casas","Wirth","Villegas","Zinny","Carranza", "Zinny", "Lozada", "Moyano", "Garcia","Becerra", "Guerra", "Aliaga", "Reyna","Galleto", "Gonzalez"],
          'Dni':[36354348, 35483574, 25638475, 16506384, 10741982, 36211983, 17385909, 17523684, 36985214, 39785236, 28965412, 35216843, 36521638, 36251364, 23156987,  36587362],
          'Sexo':["Mujer","Mujer", "Mujer","Mujer", "Varon", "Varon","Mujer","Varon", "Varon","Mujer", "Mujer", "Mujer","Varon","Mujer","Varon","Mujer"],
          'Mail':["maguicasas33@gmail.com","aquicasas@hotmail.com","solyw@gmail.com","a.villegas@yahoo.com.ar","zinny.j@gmail.com","cacho92@gmail.com","luisazinny@gmail.com","glozada@hotmail.com","s.moyano@gmail.com","rogarcia@gmail.com","lb@gmail.com","lucre_guerra@gmail.com","fa_88@gmail.com","mar.reyna@gmail.com","galleto@gmail.com","kar_gonzalez@gmail.com"],
          'Fecha de Nacimiento':["21/5/92", "05/10/90","21/02/80", "1/07/60", "24/05/64", "21/07,92","19/06/65", "28/02/62","25/03/88", "6/04/99", "22/09/90", "18/03/82", "05/02/80","28/01/92", "30/09/60", "14/05/92"],
          'Sucursal Asignada':["Suc.1", "Suc.2", "Suc.3","Suc.4", "Suc.2", "Suc.5", "Suc.1", "Suc.2", "Suc.3","Suc.4", "Suc.2", "Suc.5","Suc.2", "Suc.5", "Suc.1", "Suc.2"],
          'Lugar de Nacimiento':["Cordoba, Argentina","Cordoba, Argentina","Buenos Aires, Argentina","Montevideo, Uruguay","Cordoba, Argentina","Cordoba, Argentina","Cordoba, Argentina","Cordoba, Argentina","Cordoba, Argentina","Cordoba, Argentina","Cordoba, Argentina","Cordoba, Argentina","Cordoba, Argentina","Cordoba, Argentina","Cordoba, Argentina","Cordoba, Argentina"],
          'Estado Civil':["Soltera", "Soltera", "Casada", "Casada","Casado", "Soltero", "Casada","Casado","Casado", "Soltero", "Casada","Casado","Casado", "Soltero","Casado", "Soltero"],
         'Color favorito':["Azul","Negro", "Amarillo", "Naranja","Verde","Rojo", "Blanco", "Morado", "Gris","Celeste","Amarillo", "Naranja","Verde","Azul","Blanco", "Verde" ]}

In [60]:
clientes=pd.DataFrame(clientes)

In [61]:
clientes

,Nombre,Apellido,Dni,Sexo,Mail,Fecha de Nacimiento,Sucursal Asignada,Lugar de Nacimiento,Estado Civil,Color favorito
0,Maria Magdalena,Casas,36354348,Mujer,maguicasas33@gmail.com,21/5/92,Suc.1,"Cordoba, Argentina",Soltera,Azul
1,Maria Angelica,Casas,35483574,Mujer,aquicasas@hotmail.com,05/10/90,Suc.2,"Cordoba, Argentina",Soltera,Negro
2,Solange,Wirth,25638475,Mujer,solyw@gmail.com,21/02/80,Suc.3,"Buenos Aires, Argentina",Casada,Amarillo
3,Ana Maria,Villegas,16506384,Mujer,a.villegas@yahoo.com.ar,1/07/60,Suc.4,"Montevideo, Uruguay",Casada,Naranja
4,Jorge,Zinny,10741982,Varon,zinny.j@gmail.com,24/05/64,Suc.2,"Cordoba, Argentina",Casado,Verde
5,Carlos,Carranza,36211983,Varon,cacho92@gmail.com,"21/07,92",Suc.5,"Cordoba, Argentina",Soltero,Rojo
6,Luisa,Zinny,17385909,Mujer,luisazinny@gmail.com,19/06/65,Suc.1,"Cordoba, Argentina",Casada,Blanco
7,Guillermo,Lozada,17523684,Varon,glozada@hotmail.com,28/02/62,Suc.2,"Cordoba, Argentina",Casado,Morado
8,Santiago,Moyano,36985214,Varon,s.moyano@gmail.com,25/03/88,Suc.3,"Cordoba, Argentina",Casado,Gris
9,Rosario,Garcia,39785236,Mujer,rogarcia@gmail.com,6/04/99,Suc.4,"Cordoba, Argentina",Soltero,Celeste
10,Lucia,Becerra,28965412,Mujer,lb@gmail.com,22/09/90,Suc.2,"Cordoba, Argentina",Casada,Amarillo
11,Lucrecia,Guerra,35216843,Mujer,lucre_guerra@gmail.com,18/03/82,Suc.5,"Cordoba, Argentina",Casado,Naranja
12,Francisco,Aliaga,36521638,Varon,fa_88@gmail.com,05/02/80,Suc.2,"Cordoba, Argentina",Casado,Verde
13,Marcia,Reyna,36251364,Mujer,mar.reyna@gmail.com,28/01/92,Suc.5,"Cordoba, Argentina",Soltero,Azul
14,Luis,Galleto,23156987,Varon,galleto@gmail.com,30/09/60,Suc.1,"Cordoba, Argentina",Casado,Blanco
15,Karla,Gonzalez,36587362,Mujer,kar_gonzalez@gmail.com,14/05/92,Suc.2,"Cordoba, Argentina",Soltero,Verde

In [62]:
clientes.index=pd.RangeIndex(1,17)

In [63]:
clientes

,Nombre,Apellido,Dni,Sexo,Mail,Fecha de Nacimiento,Sucursal Asignada,Lugar de Nacimiento,Estado Civil,Color favorito
1,Maria Magdalena,Casas,36354348,Mujer,maguicasas33@gmail.com,21/5/92,Suc.1,"Cordoba, Argentina",Soltera,Azul
2,Maria Angelica,Casas,35483574,Mujer,aquicasas@hotmail.com,05/10/90,Suc.2,"Cordoba, Argentina",Soltera,Negro
3,Solange,Wirth,25638475,Mujer,solyw@gmail.com,21/02/80,Suc.3,"Buenos Aires, Argentina",Casada,Amarillo
4,Ana Maria,Villegas,16506384,Mujer,a.villegas@yahoo.com.ar,1/07/60,Suc.4,"Montevideo, Uruguay",Casada,Naranja
5,Jorge,Zinny,10741982,Varon,zinny.j@gmail.com,24/05/64,Suc.2,"Cordoba, Argentina",Casado,Verde
6,Carlos,Carranza,36211983,Varon,cacho92@gmail.com,"21/07,92",Suc.5,"Cordoba, Argentina",Soltero,Rojo
7,Luisa,Zinny,17385909,Mujer,luisazinny@gmail.com,19/06/65,Suc.1,"Cordoba, Argentina",Casada,Blanco
8,Guillermo,Lozada,17523684,Varon,glozada@hotmail.com,28/02/62,Suc.2,"Cordoba, Argentina",Casado,Morado
9,Santiago,Moyano,36985214,Varon,s.moyano@gmail.com,25/03/88,Suc.3,"Cordoba, Argentina",Casado,Gris
10,Rosario,Garcia,39785236,Mujer,rogarcia@gmail.com,6/04/99,Suc.4,"Cordoba, Argentina",Soltero,Celeste
11,Lucia,Becerra,28965412,Mujer,lb@gmail.com,22/09/90,Suc.2,"Cordoba, Argentina",Casada,Amarillo
12,Lucrecia,Guerra,35216843,Mujer,lucre_guerra@gmail.com,18/03/82,Suc.5,"Cordoba, Argentina",Casado,Naranja
13,Francisco,Aliaga,36521638,Varon,fa_88@gmail.com,05/02/80,Suc.2,"Cordoba, Argentina",Casado,Verde
14,Marcia,Reyna,36251364,Mujer,mar.reyna@gmail.com,28/01/92,Suc.5,"Cordoba, Argentina",Soltero,Azul
15,Luis,Galleto,23156987,Varon,galleto@gmail.com,30/09/60,Suc.1,"Cordoba, Argentina",Casado,Blanco
16,Karla,Gonzalez,36587362,Mujer,kar_gonzalez@gmail.com,14/05/92,Suc.2,"Cordoba, Argentina",Soltero,Verde

In [64]:
clientes.head(3)

,Nombre,Apellido,Dni,Sexo,Mail,Fecha de Nacimiento,Sucursal Asignada,Lugar de Nacimiento,Estado Civil,Color favorito
1,Maria Magdalena,Casas,36354348,Mujer,maguicasas33@gmail.com,21/5/92,Suc.1,"Cordoba, Argentina",Soltera,Azul
2,Maria Angelica,Casas,35483574,Mujer,aquicasas@hotmail.com,05/10/90,Suc.2,"Cordoba, Argentina",Soltera,Negro
3,Solange,Wirth,25638475,Mujer,solyw@gmail.com,21/02/80,Suc.3,"Buenos Aires, Argentina",Casada,Amarillo

In [65]:
clientes.tail(3)

,Nombre,Apellido,Dni,Sexo,Mail,Fecha de Nacimiento,Sucursal Asignada,Lugar de Nacimiento,Estado Civil,Color favorito
14,Marcia,Reyna,36251364,Mujer,mar.reyna@gmail.com,28/01/92,Suc.5,"Cordoba, Argentina",Soltero,Azul
15,Luis,Galleto,23156987,Varon,galleto@gmail.com,30/09/60,Suc.1,"Cordoba, Argentina",Casado,Blanco
16,Karla,Gonzalez,36587362,Mujer,kar_gonzalez@gmail.com,14/05/92,Suc.2,"Cordoba, Argentina",Soltero,Verde

In [85]:
clientes.dtypes

Nombre                 object
Apellido               object
Dni                     int64
Sexo                   object
Mail                   object
Fecha de Nacimiento    object
Sucursal Asignada      object
Lugar de Nacimiento    object
Estado Civil           object
Color favorito         object
dtype: object

In [86]:
clientes.to_excel('datos-clientes-raw.xlsx')

In [87]:
clientes_df = pd.read_excel('datos-clientes-raw.xlsx')

In [88]:
clientes_df

,Unnamed: 0,Nombre,Apellido,Dni,Sexo,Mail,Fecha de Nacimiento,Sucursal Asignada,Lugar de Nacimiento,Estado Civil,Color favorito
0,1,Maria Magdalena,Casas,36354348,Mujer,maguicasas33@gmail.com,21/5/92,Suc.1,"Cordoba, Argentina",Soltera,Azul
1,2,Maria Angelica,Casas,35483574,Mujer,aquicasas@hotmail.com,05/10/90,Suc.2,"Cordoba, Argentina",Soltera,Negro
2,3,Solange,Wirth,25638475,Mujer,solyw@gmail.com,21/02/80,Suc.3,"Buenos Aires, Argentina",Casada,Amarillo
3,4,Ana Maria,Villegas,16506384,Mujer,a.villegas@yahoo.com.ar,1/07/60,Suc.4,"Montevideo, Uruguay",Casada,Naranja
4,5,Jorge,Zinny,10741982,Varon,zinny.j@gmail.com,24/05/64,Suc.2,"Cordoba, Argentina",Casado,Verde
5,6,Carlos,Carranza,36211983,Varon,cacho92@gmail.com,"21/07,92",Suc.5,"Cordoba, Argentina",Soltero,Rojo
6,7,Luisa,Zinny,17385909,Mujer,luisazinny@gmail.com,19/06/65,Suc.1,"Cordoba, Argentina",Casada,Blanco
7,8,Guillermo,Lozada,17523684,Varon,glozada@hotmail.com,28/02/62,Suc.2,"Cordoba, Argentina",Casado,Morado
8,9,Santiago,Moyano,36985214,Varon,s.moyano@gmail.com,25/03/88,Suc.3,"Cordoba, Argentina",Casado,Gris
9,10,Rosario,Garcia,39785236,Mujer,rogarcia@gmail.com,6/04/99,Suc.4,"Cordoba, Argentina",Soltero,Celeste
10,11,Lucia,Becerra,28965412,Mujer,lb@gmail.com,22/09/90,Suc.2,"Cordoba, Argentina",Casada,Amarillo
11,12,Lucrecia,Guerra,35216843,Mujer,lucre_guerra@gmail.com,18/03/82,Suc.5,"Cordoba, Argentina",Casado,Naranja
12,13,Francisco,Aliaga,36521638,Varon,fa_88@gmail.com,05/02/80,Suc.2,"Cordoba, Argentina",Casado,Verde
13,14,Marcia,Reyna,36251364,Mujer,mar.reyna@gmail.com,28/01/92,Suc.5,"Cordoba, Argentina",Soltero,Azul
14,15,Luis,Galleto,23156987,Varon,galleto@gmail.com,30/09/60,Suc.1,"Cordoba, Argentina",Casado,Blanco
15,16,Karla,Gonzalez,36587362,Mujer,kar_gonzalez@gmail.com,14/05/92,Suc.2,"Cordoba, Argentina",Soltero,Verde

In [89]:
columnas_orig=clientes_df.columns
columnas_orig

Index(['Unnamed: 0', 'Nombre', 'Apellido', 'Dni', 'Sexo', 'Mail',
       'Fecha de Nacimiento', 'Sucursal Asignada', 'Lugar de Nacimiento',
       'Estado Civil', 'Color favorito'],
      dtype='object')

In [91]:
clientes_sucursales_df = clientes_df.drop(['Unnamed: 0', 'Sexo','Fecha de Nacimiento', 'Lugar de Nacimiento','Estado Civil', 'Color favorito'], axis=1)

In [92]:
clientes_sucursales_df

,Nombre,Apellido,Dni,Mail,Sucursal Asignada
0,Maria Magdalena,Casas,36354348,maguicasas33@gmail.com,Suc.1
1,Maria Angelica,Casas,35483574,aquicasas@hotmail.com,Suc.2
2,Solange,Wirth,25638475,solyw@gmail.com,Suc.3
3,Ana Maria,Villegas,16506384,a.villegas@yahoo.com.ar,Suc.4
4,Jorge,Zinny,10741982,zinny.j@gmail.com,Suc.2
5,Carlos,Carranza,36211983,cacho92@gmail.com,Suc.5
6,Luisa,Zinny,17385909,luisazinny@gmail.com,Suc.1
7,Guillermo,Lozada,17523684,glozada@hotmail.com,Suc.2
8,Santiago,Moyano,36985214,s.moyano@gmail.com,Suc.3
9,Rosario,Garcia,39785236,rogarcia@gmail.com,Suc.4
10,Lucia,Becerra,28965412,lb@gmail.com,Suc.2
11,Lucrecia,Guerra,35216843,lucre_guerra@gmail.com,Suc.5
12,Francisco,Aliaga,36521638,fa_88@gmail.com,Suc.2
13,Marcia,Reyna,36251364,mar.reyna@gmail.com,Suc.5
14,Luis,Galleto,23156987,galleto@gmail.com,Suc.1
15,Karla,Gonzalez,36587362,kar_gonzalez@gmail.com,Suc.2

In [95]:
clientes_sucursales_df.columns=['Name', 'Surname', 'ID', 'mail adress', 'Branch Office']
clientes_sucursales_df

               Name   Surname        ID              mail adress Branch Office
0   Maria Magdalena     Casas  36354348   maguicasas33@gmail.com         Suc.1
1    Maria Angelica     Casas  35483574    aquicasas@hotmail.com         Suc.2
2           Solange     Wirth  25638475          solyw@gmail.com         Suc.3
3         Ana Maria  Villegas  16506384  a.villegas@yahoo.com.ar         Suc.4
4             Jorge     Zinny  10741982        zinny.j@gmail.com         Suc.2
5            Carlos  Carranza  36211983        cacho92@gmail.com         Suc.5
6             Luisa     Zinny  17385909     luisazinny@gmail.com         Suc.1
7         Guillermo    Lozada  17523684      glozada@hotmail.com         Suc.2
8         Santiago     Moyano  36985214       s.moyano@gmail.com         Suc.3
9           Rosario    Garcia  39785236       rogarcia@gmail.com         Suc.4
10            Lucia   Becerra  28965412             lb@gmail.com         Suc.2
11         Lucrecia    Guerra  35216843   lucre_guerra@gmail.com         Suc.5
12       Francisco     Aliaga  36521638          fa_88@gmail.com         Suc.2
13          Marcia      Reyna  36251364      mar.reyna@gmail.com         Suc.5
14             Luis   Galleto  23156987        galleto@gmail.com         Suc.1
15            Karla  Gonzalez  36587362   kar_gonzalez@gmail.com         Suc.2

In [97]:
clientes_sucursales_df['message'] = "Estimado/a " + clientes_sucursales_df['Name'] + ": Queremos informarle que la sucursal " + clientes_sucursales_df['Branch Office'] + ", está adecuando sus protocolos para satisfacer las disposiciones del COE Provincial."

In [98]:
clientes_sucursales_df

,Name,Surname,ID,mail adress,Branch Office,message
0,Maria Magdalena,Casas,36354348,maguicasas33@gmail.com,Suc.1,Estimado/a Maria Magdalena: Queremos informarl...
1,Maria Angelica,Casas,35483574,aquicasas@hotmail.com,Suc.2,Estimado/a Maria Angelica: Queremos informarle...
2,Solange,Wirth,25638475,solyw@gmail.com,Suc.3,Estimado/a Solange: Queremos informarle que la...
3,Ana Maria,Villegas,16506384,a.villegas@yahoo.com.ar,Suc.4,Estimado/a Ana Maria: Queremos informarle que ...
4,Jorge,Zinny,10741982,zinny.j@gmail.com,Suc.2,Estimado/a Jorge: Queremos informarle que la s...
5,Carlos,Carranza,36211983,cacho92@gmail.com,Suc.5,Estimado/a Carlos: Queremos informarle que la ...
6,Luisa,Zinny,17385909,luisazinny@gmail.com,Suc.1,Estimado/a Luisa: Queremos informarle que la s...
7,Guillermo,Lozada,17523684,glozada@hotmail.com,Suc.2,Estimado/a Guillermo: Queremos informarle que ...
8,Santiago,Moyano,36985214,s.moyano@gmail.com,Suc.3,Estimado/a Santiago : Queremos informarle que ...
9,Rosario,Garcia,39785236,rogarcia@gmail.com,Suc.4,Estimado/a Rosario: Queremos informarle que la...
10,Lucia,Becerra,28965412,lb@gmail.com,Suc.2,Estimado/a Lucia: Queremos informarle que la s...
11,Lucrecia,Guerra,35216843,lucre_guerra@gmail.com,Suc.5,Estimado/a Lucrecia: Queremos informarle que l...
12,Francisco,Aliaga,36521638,fa_88@gmail.com,Suc.2,Estimado/a Francisco : Queremos informarle que...
13,Marcia,Reyna,36251364,mar.reyna@gmail.com,Suc.5,Estimado/a Marcia : Queremos informarle que la...
14,Luis,Galleto,23156987,galleto@gmail.com,Suc.1,Estimado/a Luis: Queremos informarle que la su...
15,Karla,Gonzalez,36587362,kar_gonzalez@gmail.com,Suc.2,Estimado/a Karla: Queremos informarle que la s...

In [111]:
clientes_mail = clientes_sucursales_df['mail adress']
clientes_mail

0      maguicasas33@gmail.com
1       aquicasas@hotmail.com
2             solyw@gmail.com
3     a.villegas@yahoo.com.ar
4           zinny.j@gmail.com
5           cacho92@gmail.com
6        luisazinny@gmail.com
7         glozada@hotmail.com
8          s.moyano@gmail.com
9          rogarcia@gmail.com
10               lb@gmail.com
11     lucre_guerra@gmail.com
12            fa_88@gmail.com
13        mar.reyna@gmail.com
14          galleto@gmail.com
15     kar_gonzalez@gmail.com
Name: mail adress, dtype: object

In [113]:
clientes_mail.to_excel('lista-mails-protocolo.xlsx')

In [23]:
transacciones_df = pd.read_csv('registro.csv')

In [24]:
transacciones_df

                                   Cuenta;Nro Operacion;Monto;Estado
205-418842/5;8136;$35                              458.00;en proceso
205-418842/5;9600;$9                                 811.86;aprobada
205-418842/5;5005;$8                                 934.30;aprobada
205-418842/5;9533;$938.89;aprobada                               NaN
205-418842/5;4614;$763.59;aprobada                               NaN
205-418842/5;5315;$1                                 534.35;aprobada
205-418842/5;9200;$710.41;aprobada                               NaN
205-418842/5;2921;$1                                 128.49;aprobada
205-418842/5;5112;$24                              048.00;en proceso
205-418842/5;6630;$1                                 940.81;aprobada
205-418842/5;7140;$7                                 655.50;aprobada
205-418842/5;3300;$11                              219.94;en proceso
205-418842/5;7126;$12                                048.00;aprobada
205-418842/5;4218;$4                                 630.29;aprobada
205-418842/5;8614;$16                              028.50;en proceso
205-418842/5;2912;$763.80;aprobada                               NaN
205-418842/5;7506;$177.29;aprobada                               NaN
205-418842/5;8514;$3                                 649.00;aprobada
199-364166/2;1291;$263.30;aprobada                               NaN
199-364166/2;9132;$145.03;aprobada                               NaN
199-364166/2;6922;$453.58;aprobada                               NaN
199-364166/2;2880;$207.20;aprobada                               NaN
199-364166/2;2947;$ 1.280                                00;aprobada
199-364166/2;8028;$ 93.630                              00;rechazada
199-364166/2;5075;$ 40.000                              00;rechazada
199-364166/2;7990;$ 3.300                                00;aprobada
199-364166/2;1081;$ 25.000                             00;en proceso
199-364166/2;5268;$ 4.500                                00;aprobada
199-364166/2;1035;$ 4.200                                00;aprobada
199-364166/2;2687;$ 22.480                              00;rechazada
199-364166/2;1098;$ 380                                  00;aprobada
199-364166/2;1356;$ 1.450                                00;aprobada
199-364166/2;1470;$ 621                                00;en proceso
199-364166/2;9300;$ 6.099                                81;aprobada
199-364166/2;8120;$ 1.365                              02;en proceso
199-364166/2;9621;1649                                   19;aprobada
199-364166/2;3504;9811                                  86;rechazada

In [16]:
transacciones_df = pd.read_excel('registro.xlsx')

In [17]:
transacciones_df

          Cuenta  Nro Operacion       Monto      Estado
0   205-418842/5           8136  $35,458.00  en proceso
1   205-418842/5           9600   $9,811.86    aprobada
2   205-418842/5           5005   $8,934.30    aprobada
3   205-418842/5           9533     $938.89    aprobada
4   205-418842/5           4614     $763.59    aprobada
5   205-418842/5           5315   $1,534.35    aprobada
6   205-418842/5           9200     $710.41    aprobada
7   205-418842/5           2921   $1,128.49    aprobada
8   205-418842/5           5112  $24,048.00  en proceso
9   205-418842/5           6630   $1,940.81    aprobada
10  205-418842/5           7140   $7,655.50    aprobada
11  205-418842/5           3300  $11,219.94  en proceso
12  205-418842/5           7126  $12,048.00    aprobada
13  205-418842/5           4218   $4,630.29    aprobada
14  205-418842/5           8614  $16,028.50  en proceso
15  205-418842/5           2912     $763.80    aprobada
16  205-418842/5           7506     $177.29    aprobada
17  205-418842/5           8514   $3,649.00    aprobada
18  199-364166/2           1291     $263.30    aprobada
19  199-364166/2           9132     $145.03    aprobada
20  199-364166/2           6922     $453.58    aprobada
21  199-364166/2           2880     $207.20    aprobada
22  199-364166/2           2947        1280    aprobada
23  199-364166/2           8028       93630   rechazada
24  199-364166/2           5075       40000   rechazada
25  199-364166/2           7990        3300    aprobada
26  199-364166/2           1081       25000  en proceso
27  199-364166/2           5268        4500    aprobada
28  199-364166/2           1035        4200    aprobada
29  199-364166/2           2687       22480   rechazada
30  199-364166/2           1098         380    aprobada
31  199-364166/2           1356        1450    aprobada
32  199-364166/2           1470         621  en proceso
33  199-364166/2           9300     6099.81    aprobada
34  199-364166/2           8120     1365.02  en proceso
35  199-364166/2           9621     1649.19    aprobada
36  199-364166/2           3504     9811.86   rechazada

In [22]:
transacciones_df.sort_values(by='Monto', ascending=True)

TypeError: '<' not supported between instances of 'float' and 'str'

In [21]:
by_monto = transacciones_df.sort_values(float('Monto'))

ValueError: could not convert string to float: 'Monto'